---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main x-data="{ title: 'Prova', shouldShow: false }" class='container'>
    <h1 x-text='title'></h1>
    <p x-show='shouldShow'>Mostra</p>
    <button @click='shouldShow = !shouldShow'>Mostra</button>
  </main>
</Layout>

<style>
  main {
    font-size: 20px;
    line-height: 1.6;
  }
</style>
